{% extends 'main.html' %} {% block content %} {% if page == 'login' %}
<div>
  <form action="" method="POST">
    {%csrf_token%}
    <label for="">User Name:</label>
    <input type="text" name="username" placeholder="Enter username" />
    <label for="">Password:</label>
    <input type="text" name="password" placeholder="Enter username" />
    <input type="submit" value="Login" />
  </form>
  <p>Haven sign up yet?</p>
  <a href="{% url 'register' %}">Sign Up</a>
</div>
{% else %}
<div>
  <form action="" method="POST">
    {% csrf_token %} 
    {{form.as_p}}
    <input type="submit" value="Register" />
  </form>
  <p>already sign up?</p>
  <a href="{% url 'login' %}">Sign Up</a>
</div>
{% endif %} {% endblock content %}
